<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">

     <title>Documentation</title>

     <!-- jQuery and AJAX - Google CDN -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Bootstrap core CSS -->
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- js notifications:  https://notifyjs.com/ -->
     <script type="text/javascript" src="{{url_for('static', filename='scripts/notify.js')}}"> </script>

 </head>

<!-- Nice gifs at https://physik.uni-paderborn.de/silberhorn/forschung/quantum-networking/quantum-walks/ -->

<body>
  <center>
    <h1> Walking with the Quantum Walker </h1>
  </center>

  <h7> Back to <a href="/"> simulator </a> </h7>

  <br/>
  <br/>

  <p> <h3> What is a quantum walk? </h3> </p>
  <p>
    lorem ipsum
  </p>

  <br/>

  <p> <h3> What is the Quantum Walker? </h3> </p>
  <p>
    lorem ipsum
  </p>

  <br/>

  <p> <h3> How to set the variables </h3> </p>
  <p>
    lorem ipsum
  </p>

  <br/>

  <p> <h3> Understanding the results </h3> </p>
  <p>
    lorem ipsum
  </p>

  <br/>
